In [2]:
import pickle

In [ ]:
import tensorflow as tf
from tensorflow.keras.models import load_model
import numpy as np
import pandas as pd

In [3]:
#Load the model
model=load_model('model.h5')

#Load Encoder and Scaler
with open('label_encoder.pkl','rb') as file:
    gender_encode=pickle.load(file)

with open('one_hot_encoder.pkl','rb') as file:
    geo_encode=pickle.load(file)

with open('scaler.pkl','rb') as file:
    scaling=pickle.load(file)

WARNING:absl:Compiled the loaded model, but the compiled metrics have yet to be built. `model.compile_metrics` will be empty until you train or evaluate the model.

In [ ]:
# Example input data
input_data = {
    'CreditScore': 600,
    'Geography': 'France',
    'Gender': 'Male',
    'Age': 40,
    'Tenure': 3,
    'Balance': 60000,
    'NumOfProducts': 2,
    'HasCrCard': 1,
    'IsActiveMember': 1,
    'EstimatedSalary': 50000
}

In [7]:
input_df=pd.DataFrame([input_data])

In [8]:
input_df

   CreditScore Geography Gender  ...  HasCrCard  IsActiveMember  EstimatedSalary
0          600    France   Male  ...          1               1            50000

[1 rows x 10 columns]

In [9]:
input_df['Gender']=gender_encode.transform(input_df['Gender'])

In [10]:
input_df

   CreditScore Geography  Gender  ...  HasCrCard  IsActiveMember  EstimatedSalary
0          600    France       1  ...          1               1            50000

[1 rows x 10 columns]

In [14]:
encoded_geo=geo_encode.transform(input_df[['Geography']])

In [26]:
encoded_geo_df=pd.DataFrame(encoded_geo.toarray(),columns=geo_encode.get_feature_names_out(['Geography']))

In [30]:
input_df=pd.concat([input_df.drop('Geography',axis=1),encoded_geo_df],axis=1)

In [31]:
input_scaled=scaling.transform(input_df)

In [33]:
output=model.predict(input_scaled)

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 22ms/step

In [34]:
if(output[0][0]>=0.5):
    print("He will leave the bank")
else:
     print("He wont leave the bank")

He wont leave the bank

In [42]:
type(geo_encode.categories_[0])

numpy.ndarray